---
version: 2
interactions:
    - id: 0
      request:
        host: api.themoviedb.org
        form:
            language:
                - en
        headers:
        url: https://api.themoviedb.org/3/movie/508?language=en
        method: GET
      response:
        body: '{"adult":false,"backdrop_path":"/xUWf5xX0AnZgAnYXAMk03zTbsef.jpg","belongs_to_collection":null,"budget":40000000,"genres":[{"id":35,"name":"Comedy"},{"id":10749,"name":"Romance"},{"id":18,"name":"Drama"}],"homepage":"http://www.loveactually.com/","id":508,"imdb_id":"tt0314331","origin_country":["GB"],"original_language":"en","original_title":"Love Actually","overview":"Eight very different couples deal with their love lives in various loosely interrelated tales all set during a frantic month before Christmas in London.","popularity":5.8848,"poster_path":"/7QPeVsr9rcFU9Gl90yg0gTOTpVv.jpg","production_companies":[{"id":10163,"logo_path":"/16KWBMmfPX0aJzDExDrPxSLj0Pg.png","name":"Working Title Films","origin_country":"GB"},{"id":284,"logo_path":"/6a26if3IKy7mlrQuGHHVp6ufQtF.png","name":"DNA Films","origin_country":"GB"},{"id":694,"logo_path":"/5LEHONGkZBIoWvp1ygHOF8iyi1M.png","name":"StudioCanal","origin_country":"FR"}],"production_countries":[{"iso_3166_1":"FR","name":"France"},{"iso_3166_1":"GB","name":"United Kingdom"}],"release_date":"2003-09-07","revenue":250779876,"runtime":135,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"French","iso_639_1":"fr","name":"Français"},{"english_name":"Portuguese","iso_639_1":"pt","name":"Português"}],"status":"Released","tagline":"Love actually is all around.","title":"Love Actually","video":false,"vote_average":7.096,"vote_count":7323}'
        headers:
            Content-Type:
                - application/json;charset=utf-8
            Etag:
                - W/"04e5071538473a54274d96fa333b5181"
            X-Az:
                - us-east-1a
            X-Memc:
                - HIT
            X-Memc-Age:
                - "1023"
            X-Memc-Expires:
                - "23931"
            X-Memc-Key:
                - f49dc7f50b742138bc58ffdbae516cf415c7ec103879760fee4a8e4bb192eede
            X-Task-Id:
                - 74b59d474e134818a582dad5b91b928f
        status: 200 OK
        code: 200
        duration: 543.524458ms
[...]
    - id: 2
      request:
        host: api.themoviedb.org
        form:
            language:
                - en
        headers:
        url: https://api.themoviedb.org/3/tv/94997?language=en
        method: GET
      response:
        body: '{"adult":false,"backdrop_path":"/2xGcSLyTAzConiHAByWqhfLiatT.jpg","created_by":[{"id":237053,"credit_id":"5db8d867a1d3320011e7ddf1","name":"George R.R. Martin","original_name":"George R.R. Martin","gender":2,"profile_path":"/1A7W0L9dZz0rCN1oj6h8YUvusdN.jpg"},{"id":1167458,"credit_id":"5db8d8fe3faba000163a83cb","name":"Ryan Condal","original_name":"Ryan Condal","gender":2,"profile_path":"/1TGRIEArYHB7TD40HHYiRkwTHLX.jpg"}],"episode_run_time":[],"first_air_date":"2022-08-21","genres":[{"id":10765,"name":"Sci-Fi & Fantasy"},{"id":18,"name":"Drama"},{"id":10759,"name":"Action & Adventure"}],"homepage":"https://www.hbo.com/house-of-the-dragon","id":94997,"in_production":true,"languages":["en"],"last_air_date":"2024-08-04","last_episode_to_air":{"id":5234730,"name":"The Queen Who Ever Was","overview":"As Aemond becomes more volatile, Larys plots an escape, and Alicent grows more concerned about Helaena''s safety. Flush with new power, Rhaenyra looks to press her advantage.","vote_average":6.6,"vote_count":74,"air_date":"2024-08-04","episode_number":8,"episode_type":"finale","production_code":"","runtime":70,"season_number":2,"show_id":94997,"still_path":"/mTjsLzqgzEk5MLNwjaddVDFXqKd.jpg"},"name":"House of the Dragon","next_episode_to_air":null,"networks":[{"id":49,"logo_path":"/tuomPhY2UtuPTqqFnKMVHvSb724.png","name":"HBO","origin_country":"US"}],"number_of_episodes":18,"number_of_seasons":3,"origin_country":["US"],"original_language":"en","original_name":"House of the Dragon","overview":"The Targaryen dynasty is at the absolute apex of its power, with more than 15 dragons under their yoke. Most empires crumble from such heights. In the case of the Targaryens, their slow fall begins when King Viserys breaks with a century of tradition by naming his daughter Rhaenyra heir to the Iron Throne. But when Viserys later fathers a son, the court is shocked when Rhaenyra retains her status as his heir, and seeds of division sow friction across the realm.","popularity":45.9338,"poster_path":"/7QMsOTMUswlwxJP0rTTZfmz2tX2.jpg","production_companies":[{"id":3268,"logo_path":"/tuomPhY2UtuPTqqFnKMVHvSb724.png","name":"HBO","origin_country":"US"},{"id":180956,"logo_path":null,"name":"Bastard Sword","origin_country":"US"},{"id":180957,"logo_path":null,"name":"1:26 Pictures","origin_country":"US"},{"id":180958,"logo_path":null,"name":"GRRM","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United States of America"}],"seasons":[{"air_date":"2022-08-21","episode_count":73,"id":309556,"name":"Specials","overview":"","poster_path":"/n9z5p7psbfhLsaRyUrv0jrNCbh0.jpg","season_number":0,"vote_average":0.0},{"air_date":"2022-08-21","episode_count":10,"id":134965,"name":"Season 1","overview":"Set nearly 200 years before Game of Thrones, this season chronicles the events leading up to the Targaryen civil war, known as the Dance of the Dragons. King Viserys I Targaryen names his daughter, Princess Rhaenyra, as heir to the Iron Throne, breaking tradition and igniting ten[...]
[...]
